
<div class="center jumbotron">
  <h1>MKPlace</h1>

    <nav>
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign up as Worker",    new_worker_registration_path, class: "btn btn-lg btn-primary"%></li>
        <li><%= link_to "Sign up as Client",    new_client_registration_path, class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to "Sign up as Admin",     new_admin_registration_path,  class: "btn btn-lg btn-primary" %></li>
        </ul>
    </nav>
</div>

