<h1>New Application - <%= @position %></h1>

<p>
<%= @greeting %>
</p>
<p>
We are writing in connection with the selection process for a 
</p>
<p>
<%= @position %>
</p>
<p>
You have applied to this new job position.</p>
<p>
<%= @content %>
</p>
<p>
Regards,
RecruitmentApp
</p>