<h1>Vacancies filled for <%= @position %> position</h1>

<p>
<%= @greeting %>
</p>

We are writing in connection with the selection process for a <%= @position %>.

</p>
<p>
Currently, all of the <%=@vacancies%> vacancies for the position, has been filled</p>
<p>
</p>
<p>
Regards
</p>
