<h1>New Opportunity</h1>

<p>
<%= @greeting %>
</p>
<p>
I a recruiter from <%= @company %>:
</p>
<p>

</p>
I saw your skills and I think we have a good job opportunyty for you.
<p>
Please contact us, we will give you all the details.
</p>
<p>
Regards,
<%= @company %>
</p>