<h1>Application Status - <%= @position %></h1>

<p>
<%= @greeting %>
</p>
<p>
We are writing in connection with the selection process for a 
</p>
<p>
<%= @position %>
</p>
<p>
We regret to inform you that despite the indisputable qualities you possess, after final consideration we have decided that we will not be offering you the position. 
We came to this conclusion after interviewing another candidate who matched more precisely the requirements that our company demands.
</p>
<p>
We offer you our sincerest thanks for your interest and trust shown in our organisation.
</p>
<p>
Regards,
RecruitmentApp
</p>