<% if worker_signed_in? %>
    <h2> Available jobs </h2>
<%end%>
<% if admin_signed_in? %>
   <h2> All jobs </h2>
<%end%>
<% if client_signed_in? %>
    <h2> My job requests </h2>
<%end%>

<% if !@jobs.nil? %>
    <%= render @jobs%>
<%end%>
