<% if worker_signed_in? %> 
    <h2> Available jobs </h2>
<% elsif admin_signed_in? %>
   <h2> All jobs </h2>
<% elsif client_signed_in? %>
    <h2> My job requests </h2>
<%else%>
    <h2> Explore available jobs </h2>
<%end%>

<% if !@jobs.nil? %>
    <%= render @jobs%>
<%end%>
