<div class="container " style="text-align:center">
    <div class= 'row banner-home'>
        <div class= 'col-lg-6'>
            <h1 id='title'>Welcome to Marketplace</h1>
            <%= link_to "Get started", job_requests_path, class: "btn btn-lg btn-primary" %>
        </div>
        <div class= 'col-lg-6'>
        </div>
    
</div>