@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
    background-color: #EFEFEF;

}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    }
#logo:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown.open.show {
    background-color: #76b5c5;
}
.navbar, .open {
    background-color: #76b5c5;
    border-bottom: #76b5c5;
}
.navbar-inverse .navbar-nav > li > a{
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #76b5c5;
    border-color: #76b5c5;
    margin-top: 5px;
    margin-bottom: 5px;
}

li{
    list-style-type: none;
}